/* 뒤로가기 + 이름 */
.backWrapper {
  position: absolute;
  top: 13px;
  left: 26px;
  display: flex;
  align-items: center;
  gap: 26px; 
}

/* 뒤로가기 */
.backIcon {
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: inline-block;
}

/* 페이지 이름 */
.signupTitle {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; 
  letter-spacing: -0.32px;
}

/* 전체요소정렬 */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 246px 100px;
  gap: 40px;
}

/* 프사 */
.profileImage {
    width: 127px;
    height: 127px;
    aspect-ratio: 1/1;

    border-radius: 127px;
    background: url('../../../assets/profile-image.svg') lightgray 50% / cover no-repeat;
}

/* 프사설정버튼 */
.uploadButton {
    width: 110px;
    height: 40px;
    flex-shrink: 0;

    border-radius: 10px;
    background: #FECD24;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 65px;
}

/* 입력창 전체정렬 */
.formGroup {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-bottom: 24px;
  width: 100%;
}

/* 입력창제목 */
.label {
    color: #000;

    /* Body/Body1 */
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 123.077% */
    letter-spacing: -0.32px;
}

/* 필수아이콘 */
.requiredIcon {
    width: 5px;
    height: 5px;
    flex-shrink: 0;
    aspect-ratio: 1/1;
}

/* 입력창 */
.input {
    width: 788px;
    height: 40px;
    flex-shrink: 0;

    border-radius: 10px;
    border: 1px solid #000;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

/* 이메일입력창 */
.domainInput {
    width: 220px;
    height: 40px;
    flex-shrink: 0;
}

/* 입력창 내 문구 */
.input::placeholder {
    color: #949494;

    /* Body/Body1 */
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 123.077% */
    letter-spacing: -0.32px;
}

/* 중복확인버튼 */
.validButton {
    width: 86px;
    height: 40px;
    flex-shrink: 0;

    border-radius: 10px;
    background: #D9D9D9;
}

/* 중복확인버튼문구 */
.validButtonText {
    color: #000;

    /* Body/Body1 */
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 123.077% */
    letter-spacing: -0.32px;
}

/* 다음버튼 */
.nextButton {
    display: flex;
    width: 375px;
    height: 56px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    border-radius: 10px;
    background: #000;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
}

/* 다음버튼 - 비활성화 */
.nextButton:disabled {
    background: #D9D9D9;
}

/* 다음버튼문구 */
.nextButtonText {
    color: #FFF;
    text-align: center;

    /* Title/Title1 */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 100% */
    letter-spacing: -0.32px;
}

/* 다음버튼문구 - 비활성화 */
.nextButtonText:disabled {
    color: #8d8d8d;
}
