.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 67px;
    padding: 10px 275px;
    background: #FFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }
  
  .tabButton {
    padding: 10px;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; 
    letter-spacing: -0.32px;
    border: none;
    background: none;
    border-radius: 12px;
    cursor: pointer;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .active {
    background-color: #FECD24;;
  }
  