.container {
    text-align: center;
    padding-top: 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .character {
    width: 165px;
    gap: 55.964px;
  }
  
  .slogan {
    color: #000;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 100% */
    letter-spacing: -0.32px;
    margin-bottom: 69px;
  }
  
  .kakaoButton {
    width: 375px;
    height: 56px;
    border-radius: 10px;
    background: #FEE500;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    border: none;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; 
    letter-spacing: -0.32px;
    margin-bottom: 24px;
    cursor: pointer;
  }
  
  .loginButton {
    width: 375px;
    height: 56px;
    border-radius: 10px;
    background: #000;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
    border: none;
    color: #ffffff;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; 
    letter-spacing: -0.32px;
    margin-bottom: 24px;
    cursor: pointer;
  }
  
  .signupText {
    color: #747474;
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; 
    letter-spacing: -0.32px;
  }
  
  .signupLink {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.32px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: 4.5%; 
    text-underline-offset: 25%; 
    text-underline-position: from-font;
  }
  