html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  
.web-wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    overflow: hidden; 
  }
  
  .web-container {
    width: 1280px;
    height: 832px;
    background-color: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .scrollable-content {
    flex: 1; /* 나머지 영역을 채우도록 */
    overflow-y: auto; /* 세로 스크롤만 허용 */
    padding: 26px 0; /* 위아래 여백 (선택) */
  }